concilliation-and-closing/step-bank-conciliation-dev/bank-conciliation-dev.json
{
  "StartAt": "RetrieveKeysFromFile",
  "States": {
    "RetrieveKeysFromFile": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:414421394627:function:retrieve-idproposal-from-file",
      "ResultPath": "$.keys",
      "Next": "ProposalMap"
    },
    "ProposalMap": {
      "Type": "Map",
      "MaxConcurrency": 5,
      "ItemsPath": "$.keys._id",
      "Iterator": {
        "StartAt": "ParallelInquiry",
        "States": {
          "ParallelInquiry": {
            "Type": "Parallel",
            "Branches": [
              {
                "StartAt": "ProposalInquiry",
                "States": {
                  "ProposalInquiry": {
                    "Type": "Task",
                    "Resource": "arn:aws:lambda:us-east-1:414421394627:function:db-mapper-nosql-query",
                    "Parameters": {
                      "document": {
                        "_id.$": "$"
                      },
                      "collection": "proposal",
                      "stage": "prod"
                    },
                    "End": true
                  }
                }
              },
              {
                "StartAt": "HayInquiry",
                "States": {
                  "HayInquiry": {
                    "Type": "Task",
                    "Resource": "arn:aws:lambda:us-east-1:414421394627:function:db-mapper-nosql-query",
                    "Parameters": {
                      "document": {
                        "tied_up_documents.$": "$"
                      },
                      "collection": "hay",
                      "stage": "prod"
                    },
                    "End": true
                  }
                }
              }
            ],
            "Next": "SortJson"
          },
          "SortJson": {
            "Type": "Task",
            "Resource": "arn:aws:lambda:us-east-1:414421394627:function:catch-error-filter",
            "Next": "HaveTransactionKey?"
          },
          "HaveTransactionKey?": {
            "Type": "Choice",
            "Choices": [
              {
                "Variable": "$.transaction_key",
                "StringEquals": "",
                "Next": "Filter"
              },
              {
                "Variable": "$.transaction_key",
                "StringGreaterThan": "a",
                "Next": "RetrieveLoginKey"
              }
            ],
            "Default": "RetrieveLoginKey"
          },
          "Filter": {
            "Type": "Pass",
            "Parameters": {
              "ValorEfetivacao": 0,
              "Autenticacao": "Nao Consta",
              "hay_id.$": "$.lot_id"
            },
            "End": true
          },
          "RetrieveLoginKey": {
            "Type": "Task",
            "Resource": "arn:aws:lambda:us-east-1:414421394627:function:db-mapper-nosql-query",
            "Parameters": {
              "document": {
                "_id.$": "$.correspondent_key"
              },
              "collection": "account",
              "stage": "prod"
            },
            "ResultPath": "$.Correspondent",
            "Next": "LoginRendimento"
          },
          "LoginRendimento": {
            "Type": "Task",
            "Resource": "arn:aws:lambda:us-east-1:414421394627:function:LoginRendimento-prod-app",
            "Parameters": {
              "stage": "prod",
              "authorization.$": "$.Correspondent.results.[0].payment.Authorization"
            },
            "ResultPath": "$.AccessToken",
            "Next": "RetrieveTed"
          },
          "RetrieveTed": {
            "Type": "Task",
            "Resource": "arn:aws:lambda:us-east-1:414421394627:function:QueryTedRendimento-prod-app",
            "Parameters": {
              "stage": "prod",
              "accessToken.$": "$.AccessToken",
              "transfered": {
                "value.$": "$.transaction_key"
              },
              "payment.$": "$.Correspondent.results.[0].payment"
            },
            "ResultPath": "$.ted",
            "Next": "InquiryToDataFrame"
          },
          "InquiryToDataFrame": {
            "Type": "Pass",
            "Parameters": {
              "ValorEfetivacao.$": "$.ted.value.valorEfetivacao",
              "Autenticacao.$": "$.ted.value.comprovanteTransacao.autenticacao",
              "hay_id.$": "$.lot_id"
            },
            "End": true
          }
        }
      },
      "ResultPath": "$.Rendimento",
      "Next": "GenerateSheets"
    },
    "GenerateSheets": {
      "Type": "Parallel",
      "End": true,
      "Branches": [
        {
          "StartAt": "DataReview",
          "States": {
            "DataReview": {
              "Type": "Task",
              "Resource": "arn:aws:lambda:us-east-1:414421394627:function:retrieve-idproposal-from-file",
              "End": true
            }
          }
        },
        {
          "StartAt": "Closing",
          "States": {
            "Closing": {
              "Type": "Task",
              "Resource": "arn:aws:lambda:us-east-1:414421394627:function:keyssibot",
              "End": true
            }
          }
        }
      ]
    }
  }
}